.navbar {
    margin-top: -80px;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: none;
    background-color: transparent;
    //background-color: rgba(var(--navigation-bar-color) 0.5);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.2rem;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
    //width: 80%;

    &__container {
        padding-top: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        //padding: 0px 20px;
        flex: 1;

        &__menu {
            margin-top: 10px;
            backdrop-filter: blur(10px);
            border-radius: 100px;
            //background-color: rgba(var(--navigation-bar-color) 0.5);
            background-color: var(--navigation-bar-color);
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 60px;
            padding-right: 60px;
            justify-content: right;
            box-shadow: var(--box-shadow-dimensions) var(--navigation-bar-shadow-color);
            display: flex;
            list-style: none;
            text-align: center;
            //padding-right: 10%;


            &__item {
                line-height: 40px;
                padding-right: 1.5rem;
                font-size: 1.6rem;
                margin-top: 5px;
                text-transform: uppercase;
                font-weight: 900;
                font-size: small;
                font-family: Arial, Helvetica, sans-serif;

                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    width: 100%;
                    background: var(--navigation-bar-text-color);
                }

                &__links {
                    color: var(--navigation-bar-text-color);
                    text-decoration: none;
                    padding: 0.5rem;
                }
            }

            &__contact {


                button {

                    //box-shadow: var(--box-shadow-dimensions) var(--navigation-bar-shadow-color);
                    box-shadow: none;
                }

                span {
                    color: var(--navigation-bar-text-color);
                }

                button:hover {
                    //box-shadow: var(--box-shadow-dimensions) var(--navigation-bar-shadow-color);
                }

                button:hover:before {
                    border-color: var(--navigation-bar-text-color);
                }

                button:hover:after {
                    border-color: var(--navigation-bar-text-color);
                }
            }

        }

    }


}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar__container__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-top: 1px solid var(--white-color);
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;

        &.active {
            background: var(--black-color);
            left: 0px;
            opacity: 1;
        }

        &__item {
            border-bottom: 1px solid var(--black-color);
            margin: 0px;
            padding: 20px 0px;
        }
    }

    .nav-icon {
        display: block;
        cursor: pointer;
        color: var(--navigation-bar-text-color);
        padding-right: 20px;
    }
}