@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


:root{
    --theme-background-color: #151218;
    --theme-main-color: #408cff;
    --theme-sub-text-color: #d9eaf0;
    --theme-nav-background-color: #1d172b;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behaviour: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--theme-background-color);
    height: 100%;
}

#root{
    height: 100%;
}